Health and Exercise Tracker Analysis Notebook

The following cell pulls the live tracker from Google Drive so I don't have to redownaload the file to a data folder every time.

In [1]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
import pandas as pd
import requests
from io import BytesIO
from datetime import datetime

spreadsheetId = "16EZhzrGxpV86c_1Axe9RpDaQNBbIbFWPVzkUyhOMIiA"  # <--- Please set the Spreadsheet ID.

# 1. Download the Google Spreadsheet as XLSX format.
gauth = GoogleAuth()
gauth.LocalWebserverAuth()
url = "https://www.googleapis.com/drive/v3/files/" + spreadsheetId + "/export?mimeType=application%2Fvnd.openxmlformats-officedocument.spreadsheetml.sheet"
res = requests.get(url, headers={"Authorization": "Bearer " + gauth.attr['credentials'].access_token})

# 2. The downloaded XLSX data is read with `pd.read_excel`.
sheet = "Sheet1"
df = pd.read_excel(BytesIO(res.content), usecols=None, sheet_name=sheet)

Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?client_id=895221966072-ivfclv15clemuid8o8fphc3205ccooh2.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&access_type=offline&response_type=code

Authentication successful.

Here is a preview of the DataFrame.

In [2]:
df

,date,weight_kg,hours_slept,sleep_quality,bpm,walk_distance_km,walk_time,run_distance_km,run_time,cycle_distance_km,cycle_time,weights_intensity,weights_time,notes
0,07.03.2025,77.0,06:30:00,4,54,NaN,NaN,5.10,0:30:32,NaN,NaN,NaN,NaN,NaN
1,08.03.2025,75.0,10:36:00,7,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,09.03.2025,76.2,07:07:00,5,58,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
3,10.03.2025,77.5,08:32:00,6,55,3.74,41.02,3.77,37.46,NaN,NaN,NaN,NaN,"St Ramon (Uphill), sprained ankle, slow walk back"
4,11.03.2025,76.6,08:41:00,5,54,NaN,NaN,NaN,NaN,19.69,56.19,NaN,NaN,NaN
5,12.03.2025,75.7,08:06:00,6,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

For the moment we will convert all the NaN's to a 0 to make the data organisation clear, we may have to revisit this later.

In [3]:
# df = df.fillna(0)

And here we can see the data types for the individual columns.

In [4]:
df

,date,weight_kg,hours_slept,sleep_quality,bpm,walk_distance_km,walk_time,run_distance_km,run_time,cycle_distance_km,cycle_time,weights_intensity,weights_time,notes
0,07.03.2025,77.0,06:30:00,4,54,NaN,NaN,5.10,0:30:32,NaN,NaN,NaN,NaN,NaN
1,08.03.2025,75.0,10:36:00,7,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,09.03.2025,76.2,07:07:00,5,58,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
3,10.03.2025,77.5,08:32:00,6,55,3.74,41.02,3.77,37.46,NaN,NaN,NaN,NaN,"St Ramon (Uphill), sprained ankle, slow walk back"
4,11.03.2025,76.6,08:41:00,5,54,NaN,NaN,NaN,NaN,19.69,56.19,NaN,NaN,NaN
5,12.03.2025,75.7,08:06:00,6,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.dtypes

date                  object
weight_kg            float64
hours_slept           object
sleep_quality          int64
bpm                    int64
walk_distance_km     float64
walk_time            float64
run_distance_km      float64
run_time              object
cycle_distance_km    float64
cycle_time           float64
weights_intensity    float64
weights_time         float64
notes                 object
dtype: object

So here we can see that we have some data types that will make life difficult for us in the future.

We could just change the data types in the original google sheets document but that wouldn't be good practice.

Let's start by trying to see if we can turn these into universal values.

First we'll convert the date into a date format:

In [6]:
df["date"] = pd.to_datetime(df["date"])
df["date"] = df['date'].dt.strftime('%m/%d/%Y')

In [7]:
df.dtypes

date                  object
weight_kg            float64
hours_slept           object
sleep_quality          int64
bpm                    int64
walk_distance_km     float64
walk_time            float64
run_distance_km      float64
run_time              object
cycle_distance_km    float64
cycle_time           float64
weights_intensity    float64
weights_time         float64
notes                 object
dtype: object

In [8]:
df

,date,weight_kg,hours_slept,sleep_quality,bpm,walk_distance_km,walk_time,run_distance_km,run_time,cycle_distance_km,cycle_time,weights_intensity,weights_time,notes
0,07/03/2025,77.0,06:30:00,4,54,NaN,NaN,5.10,0:30:32,NaN,NaN,NaN,NaN,NaN
1,08/03/2025,75.0,10:36:00,7,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,09/03/2025,76.2,07:07:00,5,58,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
3,10/03/2025,77.5,08:32:00,6,55,3.74,41.02,3.77,37.46,NaN,NaN,NaN,NaN,"St Ramon (Uphill), sprained ankle, slow walk back"
4,11/03/2025,76.6,08:41:00,5,54,NaN,NaN,NaN,NaN,19.69,56.19,NaN,NaN,NaN
5,12/03/2025,75.7,08:06:00,6,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We can set the individual columns according to their starting dtypes, see the column ["weight"] here:

In [9]:
df["weight"] = df['weight_kg'].astype(float)

In [10]:
df.dtypes

date                  object
weight_kg            float64
hours_slept           object
sleep_quality          int64
bpm                    int64
walk_distance_km     float64
walk_time            float64
run_distance_km      float64
run_time              object
cycle_distance_km    float64
cycle_time           float64
weights_intensity    float64
weights_time         float64
notes                 object
weight               float64
dtype: object

Now we'll look at something a little more complicated, converting the object type "hours_slept" column into am HH:MM format.

In [11]:
# df["hours_slept"] = df['hours_slept'].astype(str).apply(pd.Timestamp)

In [12]:
# df["hours_slept"] = df['hours_slept'].apply(pd.Timestamp, format = )

In [13]:
df["hours_slept"]

0    06:30:00
1    10:36:00
2    07:07:00
3    08:32:00
4    08:41:00
5    08:06:00
Name: hours_slept, dtype: object

Here we'll look at converting two types simultaneously as we need both as integer values.

In [14]:
df[["sleep_quality", "bpm"]] = df[["sleep_quality", "bpm"]].astype(int)

In [15]:
df.dtypes

date                  object
weight_kg            float64
hours_slept           object
sleep_quality          int64
bpm                    int64
walk_distance_km     float64
walk_time            float64
run_distance_km      float64
run_time              object
cycle_distance_km    float64
cycle_time           float64
weights_intensity    float64
weights_time         float64
notes                 object
weight               float64
dtype: object

In [16]:
df

,date,weight_kg,hours_slept,sleep_quality,bpm,walk_distance_km,walk_time,run_distance_km,run_time,cycle_distance_km,cycle_time,weights_intensity,weights_time,notes,weight
0,07/03/2025,77.0,06:30:00,4,54,NaN,NaN,5.10,0:30:32,NaN,NaN,NaN,NaN,NaN,77.0
1,08/03/2025,75.0,10:36:00,7,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0
2,09/03/2025,76.2,07:07:00,5,58,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,76.2
3,10/03/2025,77.5,08:32:00,6,55,3.74,41.02,3.77,37.46,NaN,NaN,NaN,NaN,"St Ramon (Uphill), sprained ankle, slow walk back",77.5
4,11/03/2025,76.6,08:41:00,5,54,NaN,NaN,NaN,NaN,19.69,56.19,NaN,NaN,NaN,76.6
5,12/03/2025,75.7,08:06:00,6,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.7

In [17]:
# df["weight_kg"] = df["weight_kg"].apply(pd.to_numeric)